/*
 * Empty Stylesheet file.
 */

#fondoB { -fx-background-color: #373949; }
#labelImage {-fx-background-image: 17004.png}
TextField { -fx-
    
}
Button { -fx-background-color: #373949;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #FFFFFF;
         -fx-font-family: "Georgia";
         -fx-font-style: italic;
         -fx-font-size: 12px;
         -fx-background-radius: 10 10 10 10;
         -fx-border-radius: 10 10 10 10;
}


Button:hover { -fx-background-color: #333333;
               -fx-font-size: 22px;
}


Button:pressed { -fx-background-color: #FFFFFF;
                 -fx-text-fill: #000000;
	         -fx-font-weight: bold;
}